body {
    background-color: #391e02; /* Brown color code with a hint of grey */
    color: #fff; /* White text color */
    margin: 0;
    font-family: Arial, sans-serif; /* Use a readable font */
}

ul {
    list-style: none;
}

header {
    background-color: #000000; /* Black color */
    color: #fff; /* White text color */
    padding: 2rem;
    text-align: center;
    position: fixed;
    width: 100%;
    top:0;
    z-index: 999;
    font-family: 'Playfair Display', serif;
}

header.big {
    padding: 0rem;
}

header h1 {
    margin: 0;
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
    cursor: pointer; /* Add cursor pointer */
    text-decoration: none; /* Remove underline */
}

nav {
    margin-top: 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
}

nav a:hover {
    text-decoration: underline;
}


footer {
    color: #bbb;
    background-color: #000000; /* Black color */
    padding: 20px 0;
    font-size: 14px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-section {
    margin-left: 50px;
}

.velouria-title .more-from {
    color:#391e02;
    font-weight: bold;
}

.footer-section {
    margin-right: 30px;
}

.footer-section h3 {
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}
.line-separator {
    border-top: 1px solid #ccc;
    margin-bottom: 0;
}


.footer-section ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
}

.footer-section ul li {
    flex-basis: 50%;
    box-sizing: border-box;
    padding-right: 10px;
    margin-top: 10px;
    line-height: 1.6;
}

.footer-bottom {
    border-top: 1px solid #444;
    text-align: center;
    padding-top: 10px;
}

.footer-links a {
    color: #bbb;
    text-decoration: none;
}

.footer-disclaimer {
    font-size: 12px;
    margin-top: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .footer-content, .footer-section ul {
        flex-direction: column;
        align-items: center;
    }

    .footer-section ul li {
        flex-basis: 100%;
    }

    .footer-section {
        margin-bottom: 20px;
    }

    .footer-links a {
        display: block;
        margin: 5px 0;
    }
}

/* Footer Bottom Links */
.footer-bottom p {
    display: inline-block;
    margin: 0 10px;
    border-right: 1px solid #777;
    padding-right: 10px;
}

.footer-bottom p:last-child {
    border-right: none;
}
/* Paste the CSS code provided earlier here */
.collection-title {
    font-family: 'Anton', sans-serif;
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
    color: #000000; /* White text color */
}

.line-separatoor {
    border-top: 1px solid #ccc;
    margin-top: 15px;
}